html{
    width: 100%;
    margin: 0;
    padding: 0;
    
}


body{
    box-sizing: border-box;
    width: 97%;
    margin: 0;
    padding: 0;
}

.header{
    padding: 25px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: orangered;
    color: azure;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.nav-ul{
    list-style:none;
   
    

}

.nav-ul>*{
    display: inline-block;
    text-decoration: none;
    color: black;
    color: azure;
}

.nav-ul >a{
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid;
    
}



.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.nav-user{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.nav-user>*{
    display: inline-block;
    margin: 0 5px;
    
}
.nav-user>div>*{
    margin: 2px;
}


.user-avatar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.user-avatar>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="submit"]{
    margin: 10px 0;
}
.user-avatar>a{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    
  
}




.user-avatar>a>img{
    max-height: 100%;
    max-height: 100%;
    aspect-ratio: auto;
    border-radius: 50%;
    
}



.footer{
    text-align: center;
    padding: 25px;
    background-color: black;
    color: azure;
    width: 100%;

}

.error{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    width: 100%;
}

.status{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:greenyellow;

}
