.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-container{
    max-width: 1200px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
}

.news-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.news-img>img{
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: auto;
}

.news-content{
    max-width: 80%;
    display: block;
    margin: 50px 0;
    text-align: justify;
    
}

.news-info{
    padding: 10px;
    
}


.news-category{
    display: inline-block;
    margin-right: 50px;
    display: inline-block;
    border: solid transparent;
    padding: 5px;
    background-color: crimson;
    width: 70px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.news-writer{
    display: inline-block;
    margin-left: 50px;
}

.comment-head{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.comment-container{
    max-width: 500px;
    margin: 50px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.comment-write{
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.comment-write>textarea{
    width: 90%;
    
    min-height: 200px;
}

.comment_guest{
    text-align: center;
}